<h1><%= @student.to_s %></h1>
<% if !@student.active %>
  <h4>This student is currently inactive.</h4>
  <% else %>
  <h4>This student is currently active.</h4>
<% end %>
<%= link_to "Activate or Deactivate", activate_student_path(@student) %>